﻿<%@ Page Language="vb" AutoEventWireup="false" CodeBehind="QRCodeLookUp.aspx.vb" Inherits="QRCodesWeb.QRCodeLookUp" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
    </div>
    <asp:Label ID="lContact" runat="server" Text="lContact"></asp:Label>
    <br />
    <asp:Label ID="lName" runat="server" Text="lName"></asp:Label>
    <br />
    <asp:Label ID="lAddress" runat="server" Text="lAddress"></asp:Label>
    <br />
    <asp:Label ID="lCSZ" runat="server" Text="lCSZ"></asp:Label>
    <br />
    <asp:Label ID="lPhone" runat="server" Text="lPhone"></asp:Label>
    <br />
    <br />
    <asp:Label ID="Label1" runat="server" Text="Note:"></asp:Label>
    <br />
    <asp:TextBox ID="tNotes" runat="server" Height="99px" Width="265px"></asp:TextBox>
    <br />
    <br />
    <asp:Label ID="Label2" runat="server" Text="Event/Vendor Code:"></asp:Label>
    <br />
    <asp:TextBox ID="tCode" runat="server"></asp:TextBox>
    <br />
    <br />
    <asp:Button ID="bSave" runat="server" Text="Save" />
    </form>
</body>
</html>
