<%@ Page %>
<%@ Register Assembly="Infragistics4.WebUI.UltraWebGauge.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" Namespace="Infragistics.WebUI.UltraWebGauge" TagPrefix="igGauge" %>
<igGauge:GaugeImagePipe ID="GaugeImagePipe1" runat="server" />
